<!DOCTYPE html>
<html>
<head>
	<title>KAruna</title>
	<style type="text/css">
		.header{
			padding: 30px;
  			text-align: center;
  			background: #1abc9c;
  			color: white;
  			font-size: 30px;
			}

		.Date{
			padding-left: 30%;
			padding-bottom:80px;
		}
	</style>
</head>
<body>
	<div class="header">
		<h1>Corona Updates</h1>
	</div>

	<div class="Content">
		<h1 class="Date">{{data}}</h1>
		<h1>{{dic['Active Cases']}}</h1>
		<h1>{{dic['Cured / Discharged ']}}</h1>
		<h1>{{dic['Deaths ']}}</h1>
		<h1>{{dic['Migrated ']}}</h1>
	</div>
</body>
</html>